table {
    border-collapse: collapse;
}

table th{
    vertical-align: middle; 
    text-align: center; 
    text-transform: uppercase;
}

table thead tr{
    background-color: #DEF1F4;
    color: #2597AC;
}

table tr{
    text-align: center;
    color: #9B9B9B;
}

.rowCenter {
    text-align: center;
}

.starOffer {
  width: 60px;
}

.active-icon{
	color: #32CD32;
	cursor: pointer;
}

.inactive-icon{
	color: #FF6347;
		cursor: pointer;
}
.media-object{
	max-width: 250px;
}

.label{
	color: #9B9B9B;
}

.label-date{
	font-size: 12px;
	color: #9B9B9B;
}

// POP UP DETALHES DO USUÁRIO 

.user-details, .photo{
	width: 30px;	}
	
	.user-details-photo{
		width: 100%;
		height: 200px;
	}
	
	.description-info-user{
		margin-left: 20px;
		color: #9B9B9B;
	}
	
	p.user-info span{
		color: #9B9B9B;
	}
	
	.info-user-galery{
		max-height: 110px;
		
		 overflow-x: auto;
    white-space: nowrap;
	*/}
	
	.col-md-3{
		 display: inline-block;
    vertical-align: middle;
	
	}
	
	.quad{
		width: 18%;
		margin:5px;	
	}
	
	.panel-default .panel-heading{
		border: 1px solid #dcdcdc;
		
	}
	.panel-default{
	border: 1px solid #dcdcdc;
	}
	
	.bordaa{
		border-color #999;
	}
	
	.checkouts-box{
		//height: 150px;
		
		border: 1px solid #ddd;
		padding: 0px;
	}
	
	.img-content{
		height: 50%;
		padding: 0px;
	}

	.checkouts-box-img{
		 width: 100%;
		height: 100%;
		//border: 1px solid red;
		object-fit: cover;
		object-position: center;
	}
	
	.checkouts-content{
		text-align: center;
		padding: 0px;
		padding-left:0px;
		padding-top: 5px;
	
		max-width: 100%;
	}
	
	.checkout-label{
		color: #777;
		font-size: 75%;
		font-weight: 700;
		line-height: 13px;
		padding-left: 3px;
		padding-right: 3px;
	}
	
	.checkouts-divisor{
		padding: 0px;
		margin: 3px;
	}
	
	.checkouts-collums{
		padding-right: 5px;
		font-size: 75%;
		font-weight: 700;
		line-height: 13px;
		padding-left: 3px;
		padding-right: 3px;
		text-align: left;
	}
	
	.checkouts-descriptions{
			padding: 0px;
			padding-bottom:5px;
	}
	
	.left-collum{
		color: #999;
	}
	
	.checkouts-body{
		height: 250px;
		overflow: scroll;
		overflow-x: hidden;
	}
	
	.comment-item{
		border: 1px solid #ddd;
	}
		
	.circular{
		width: 80px;
	height: 80px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	padding-top: 5px;
	padding-bottom: 5px;
	}
	
	.comment-item-title{
		font-weight: bold; 
	}
	
	.comment-item-desc{}
	
	.comment-item-content{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.comment-item-date{
		font-size: 12px;
		opacity: 0.8;
	}
	
	.comment-item-star{
		width: 20px;
		height: 20px;
	}
	
	.comment-item-photo-content{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
div.pager {
    text-align: right;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #fff;
    color: #3399cc;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #3399cc;
    color: #fff;
}

.active-icon .inactive-icon{
    cursor: pointer;
}

.starOffer{
    width: 70px;
}

#openSpreadsheet{
    margin-right: 5px;
}

.status-icon{
    width: 10px;
    cursor: pointer;
}

.status-icon-inactive{
    opacity: 0.4;
}

.status-icon-inactive:hover{
    opacity: 0.9;
}