body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2597ac;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    color: #ccffff;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    background-color: #def1f4;

}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: 10px;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #ffffff;
    color: #2597ac;
    border-color: #3dd3cf;
}
.btn-primary:hover {
    background-color: #94E7E5;
    color: #ffffff;
    border-color: #3dd3cf;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #94E7E5;
    color: #ffffff;
    border-color: #3dd3cf;
}


.btn-success {
    background-color: #2597ac;
    color: white;
    border-color: white;
}
.btn-success:hover {
    background-color: #2597ac;
    color: black;
}

a {
    color: white;
}

img {
  width: 200px;
}

.centerElement {
  text-align: center;
}